<div class="bg-image bg-image-1 mb-5">
<div class="container-fluid">
    <div class="row">
        <div class="breadcrumb-inner py-5">
            <h1 class="title text-center text-white fontMontserrat">About</h1>
            <ul id="breadcrumbs" class="page-list text-center list-inline">
                <li class="inline-item"><a class="bread-link bread-home" routerLink="" title="Home">Home</a></li>
                <li class="separator separator-home inline-item"></li>
                <li class="item-current item-220 inline-item"><span class="bread-current bread-220"> About</span></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="container mt-5 mb-5">
    <div class="row pt-5 pb-5">
        <div class="col-lg-5">
            <div class="image-area">
                <div class="thumbnail">
                    <img src="../../assets/img/about-5.jpg" alt="">
                </div>
            </div>
        </div>
<div class="col-lg-7">
    <div class="contant">
    <div class="section-title text-left">
        <span class="subtitle fontpoppins">Visit my portfolio &amp; Hire me</span>
        <h2 class="title fontMontserrat">About Me</h2>
    </div>
    <p class="discription fontpoppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum in eos saepe ipsa cupiditate accusantium voluptatibus quidem nam, reprehenderit, et necessitatibus adipisci labore sit veritatis vero tempore sequi at sed facere dolore. Quae obcaecati ius quasi doloribus illum minus fugit.</p>
    <p class="discription fontpoppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum in eos saepe ipsa cupiditate accusantium voluptatibus quidem nam, reprehenderit,</p>
    <a class="rn-btn" routerLink="contact"><span><span>DOWNLOAD MY CV</span></span></a>
</div>
</div>
</div>

</div>