<div class="bg-image bg-image-1 mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb-inner py-5">
                <h1 class="title text-center text-white fontMontserrat">Contact</h1>
                <ul id="breadcrumbs" class="page-list text-center list-inline">
                    <li class="inline-item"><a class="bread-link bread-home" routerLink="" title="Home">Home</a></li>
                    <li class="separator separator-home inline-item"></li>
                    <li class="item-current item-220 inline-item"><span class="bread-current bread-220"> Contact</span></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title section-title--2 text-center"> 
                    <span class="sub-title fontpoppins">Get in touch</span>
                    <h3 class="title rbt-section-title fontMontserrat"><span>Contact With Me</span></h3>
                  
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="service-item mt-5 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="single-service service__style--5 bg-color-gray ">
                    <div class="service">
                        <div class="icon text-primary"><fa-icon [icon]="faPhoneVolume" size="2x"></fa-icon></div>
                        <div class="content">
                            <h3 class="title fontpoppins">Call me</h3>
                            <p class="fontMontserrat">
                                <a href="tel:+9035557750">PS: + 9035 557 750</a>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item mt-5 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="single-service service__style--5 bg-color-gray ">
                        <div class="service">
                            <div class="icon text-primary">
                                <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
                                </div>
                                <div class="content">
                                    <h3 class="title">Send us Email</h3>
                                    <p class="fontMontserrat">
                                         <a href="mailto:prajithas@gmail.com">prajithas@gmail.com</a> 
                                        
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-item mt-5 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-service service__style--5 bg-color-gray ">
                                <div class="service">
                                    <div class="icon text-primary"> 
                                        <fa-icon [icon]="faMapLocation" size="2x"></fa-icon>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Location</h3>
                                        <p class="fontMontserrat">Kochi, Keralam, India</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>