<div class="bg-image bg-image-1 mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb-inner py-5">
                <h1 class="title text-center text-white fontMontserrat">Portfolio</h1>
                <ul id="breadcrumbs" class="page-list text-center list-inline">
                    <li class="inline-item"><a class="bread-link bread-home" routerLink="" title="Home">Home</a></li>
                    <li class="separator separator-home inline-item"></li>
                    <li class="item-current item-220 inline-item"><span class="bread-current bread-220"> Portfolio</span></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="portfolio">
                    <div class="thumbnail-inner">
                        <div class="thumbnail image-1" style="background-image: url(../../assets/img/portfolio1.jpg)">
                        </div>
                       
                    </div>
                        
                    </div>

            </div>
            <div class="col-md-4 col-12">
                <div class="portfolio">
                    <div class="thumbnail-inner">
                        <div class="thumbnail image-1" style="background-image: url(../../assets/img/portfolio2.jpg)">
                        </div>
                       
                    </div>
                        
                    </div>

            </div>
            <div class="col-md-4 col-12">
                <div class="portfolio">
                    <div class="thumbnail-inner">
                        <div class="thumbnail image-1" style="background-image: url(../../assets/img/portfolio3.jpg)">
                        </div>
                       
                    </div>
                        
                    </div>

            </div>
        </div>
    </div>